<footer class="site-footer" role="contentinfo">
  <div class="site-container footer-inner">
    <div class="footer-brand">
      <a class="logo" data-lang="de" href="/de/index.html" title="Startseite">Logo</a>
      <a class="logo" data-lang="ru" href="/ru/index.html" title="Glavnaya">Logo</a>
    </div>

    <nav aria-label="Footer navigation">
      <ul>
        <li>
          <a class="nav-link" data-lang="de" href="/de/meine-geschichte/" title="Über mich">Über mich</a>
          <a class="nav-link" data-lang="ru" href="/ru/obo-mne/" title="Obo mne">Obo mne</a>
        </li>
        <li>
          <a class="nav-link" data-lang="de" href="/de/beratungsangebote/" title="Beratungsangebote">Beratungsangebote</a>
          <a class="nav-link" data-lang="ru" href="/ru/konsultaciya-psichoterapevta/" title="Konsultaciya psichoterapevta">Konsultaciya psichoterapevta</a>
        </li>
        <li>
          <a class="nav-link" data-lang="de" href="/de/kontakt/" title="Kontakt">Kontakt</a>
          <a class="nav-link" data-lang="ru" href="/ru/kontakty/" title="Kontakty">Kontakty</a>
        </li>
        <li>
          <a class="nav-link" data-lang="de" href="/de/datenschutzerklaerung/" title="Datenschutzerklärung">Datenschutzerklärung</a>
          <a class="nav-link" data-lang="ru" href="/ru/politika-konfidencialnosti/" title="Politika konfidentialnosti">Politika konfidentialnosti</a>
        </li>
        <li>
          <a class="nav-link" data-lang="de" href="/de/impressum/" title="Impressum">Impressum</a>
          <a class="nav-link" data-lang="ru" href="/ru/impressum/" title="Impressum">Impressum</a>
        </li>
      </ul>
    </nav>

    <div class="social-links" aria-label="Soziale Netzwerke">
      <a class="social-link" data-lang="de" href="https://www.youtube.com/@margomartyn" title="YouTube" target="_blank" rel="noopener">YT</a>
      <a class="social-link" data-lang="de" href="https://www.instagram.com/margomartyn/" title="Instagram" target="_blank" rel="noopener">IG</a>
      <a class="social-link" data-lang="de" href="https://www.facebook.com/margaritamartyn.de" title="Facebook" target="_blank" rel="noopener">FB</a>

      <a class="social-link" data-lang="ru" href="https://www.youtube.com/@margaritamartyn" title="YouTube" target="_blank" rel="noopener">YT</a>
      <a class="social-link" data-lang="ru" href="https://www.instagram.com/margaritamartyn/" title="Instagram" target="_blank" rel="noopener">IG</a>
      <a class="social-link" data-lang="ru" href="https://www.facebook.com/margaritamartyn.ru" title="Facebook" target="_blank" rel="noopener">FB</a>
    </div>
  </div>
</footer>
